<main>
    <h1>Hello world!</h1>
    <h2>How are you?</h2>
    <h3>I`m with you</h3>

    <hr>
    <hr>

    <div class="display-1">Hello world!</div>
    <div class="display-4">How are you?</div>
    <div class="display-6">I`m with you</div>

    <hr>
    <hr>

    <span class="text-muted"> встановлює сірий колір для тексту</span>
    <hr>
    <hr>
    <div class="text-center">використовуються для вирівнювання тексту в середині</div>
    <hr>
    <hr>
    <div class="text-end">використовуються для вирівнювання тексту в кінці</div>
    <hr>
    <hr>
    <div class="text-muted text-end">
        Все буде сіреньким та з кінця <span class="display-6"> А це + як h6 </span>
    </div>
    <hr>
    <hr>
    <div class="text-uppercase">Всі букви цього тексту стануть великими</div>
    <hr>
    <hr>
    <div class="text-lowercase">Всі букви цього тексту стануть маленькими</div>
    <hr>
    <hr>
    <div class="text-capitalize">Всі перші букви цього тексту стануть великими</div>
    <hr>
    <hr>
    <a href="#" class="btn btn-primary"> Button primery</a>
    <hr>
    <hr>
    <p class="text-primary"> Text primary</p>
    <hr>
    <hr>
    <button class="btn btn-outline-primary"> Button</button>
    <hr>
    <hr>
    <div class="display-6">Типу такого використовувати:</div>
    <br>
    <button class="btn btn-secondary">Додати</button>
    <button class="btn btn-outline-warning text-success">Редагувати</button>
    <button class="btn btn-outline-danger text-warning">Видалити</button>
    <hr>
    <hr>
    <button class="btn btn-info btn-lg">Велика кнопка</button>
    <button class="btn btn-info btn-sm">Маленька кнопка</button>
    <hr>
    <hr>
    <div class="card">
        <div class="card-body">
            Content here
        </div>
    </div>
    <br>
    <hr>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary">Додати</button>
            <button class="btn btn-outline-warning text-success">Редагувати</button>
            <button class="btn btn-outline-danger text-warning">Видалити</button>
        </div>
    </div>







</main>