<main class="p-5">

	<div class="card p-2 m-1">
		<p>
			Hello world!
		</p>
	</div>

	<div class="card p-2 m-1">
		<p id="test">
			Hello world!
		</p>
	</div>

	<div class="card p-2 m-1">
		<p id="test1">
			Hello world!
		</p>
	</div>

	<div class="card p-2 m-1">
		<p id="test2">
			Hello world!
		</p>
	</div>

	<div class="card p-2 m-1">
		<p id="test3">
			Hello world!
		</p>
		<span>Just text</span>
		<span class="span-b">Just text</span>
	</div>


	<pre>skcn</pre>

	<span class="size">Just text</span>
	<span class="size1">Just text</span>

	<span class="test">Just text</span>

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>


	<div style="padding: 10px 0; background: gray;">
		<span>Inline</span>
		<span>Inline</span>
		<span>Inline</span>

		<span class="block">Inline</span>
	</div>


</main>