<main class="m-4">
    {{!-- <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202303/0010/img59c.jpg"> --}}
    <div class="row">
        <div class="col-4">
            <br>
            <font face="Oswald">
                <div class="display-2 m-1 text-end">Порадуй своїх домашньою випічкою
                </div>
                <p class="text-end m-1 pt-4">
                    Для бажаючих отримувати вироби стабільно високої якості,<br>
                    а також скоротити час приготування, рекомендуємо звернути
                    увагу на сумішi для випічки. Крім цих переваг,
                    сухий концентрат збільшить термін зберігання готових виробів
                    за рахунок зниження швидкості окислення жирів.
                </p>
                <div class="text-end">
                    <a href="#" id="btn" class="btn btn-light mt-4 mx-2">
                        <div class="mt-2">Зателефонувати</div>
                    </a>
                </div>
            </font>
        </div>
        <div class="col-7 text-end">
            <div>
                <img src="https://primedekor.ru/thumb/2/9bV_eXtuEs20dPVVdFBy8g/r/d/54497751_2.jpg"
                    style="border-radius: 30px; width: 800px; height: 550px">
            </div>
        </div>
        <div class="col-1">
            <div class="card my-1">
                <img src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202314/0613/img42c.jpg"
                    style="width: 100px; hight: 100px; border-radius: 15px">
            </div>
            <div class="card my-1">
                <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202314/0365/img59xl.jpg"
                    style="width: 100px; hight: 100px; border-radius: 15px">
            </div>
            <div class="card my-1">
                <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202251/0011/img59f.jpg"
                    style="width: 100px; hight: 100px; border-radius: 15px">
            </div>
            <div class="card my-1">
                <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202316/0034/img56f.jpg"
                    style="width: 100px; hight: 100px; border-radius: 15px">
            </div>
            <div class="card my-1">
                <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202314/0215/img40f.jpg"
                    style="width: 100px; hight: 100px; border-radius: 15px">
            </div>





        </div>
    </div>

</main>