<main class="m-4 p-3">
    <h2 style="color: #12a4d9">List of pages</h2>
    <div class="row">
        <div class="col-5">
            <p style="color: #322e2f" class="my-3">
                This project was created as part of the training
                <a href="https://it-brains.com.ua/practicum/">
                    (school "IT Brains")
                </a>
                . Below is a list
                of pages that you
                can go
                to for review.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-3 my-5">

            <a style="width:150px;height:40px; color: #12a4d9; background: #e2d810" href="/education"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-graduation-cap"></i>
                Education
            </a>

            <a style="width:150px;height:40px; color: #12a4d9; background: #e2d810" href="/person"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-user"></i>
                Person
            </a>

            <a style="width:150px;height:40px; color: #12a4d9; background: #e2d810" href="/skills"
                class="btn btn-light my-2 mx-5">
                <i class="fa-brands fa-connectdevelop"></i>
                Skills
            </a>

            <a style="width:150px;height:40px; color: #12a4d9; background: #e2d810" href="/summary"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-hard-drive"></i>
                Summary
            </a>

            <a style="width:150px;height:40px; color:  #12a4d9; background: #e2d810" href="/web"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-blog"></i>
                Web
            </a>

            <a style="width:150px;height:40px; color: #12a4d9; background: #e2d810" href="/work"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-person-digging"></i>
                Work
            </a>

        </div>


        <div class="col-3 my-5">

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shophome"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-store"></i>
                Shophome
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shopcatalog"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-arrow-down-short-wide"></i>
                Shopcatalog
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shopreview"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-shoe-prints"></i>
                Shopreview
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shopproduct"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-gift"></i>
                Shopproduct
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shopprofile"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-receipt"></i>
                Shopprofile
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shoporder"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-truck-fast"></i>
                Shoporder
            </a>

            <a style="width:150px;height:40px; color: #e2d810; background: #d9138a" href="/shopcart"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-basket-shopping"></i>
                Shopcart
            </a>

        </div>


        <div class="col-3 my-5">

            <a style="width:120px;height:40px; color: #e2d810; background: #12a4d9" href="/task21"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-paperclip"></i>
                Task 2.1
            </a>

            <a style="width:120px;height:40px; color: #e2d810; background: #12a4d9" href="/task22"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-paperclip"></i>
                Task 2.2
            </a>

            <a style="width:120px;height:40px; color: #e2d810; background: #12a4d9" href="/task31"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-paperclip"></i>
                Task 3.1
            </a>

        </div>


        <div class="col-3 my-5">

            <a style="width:120px;height:40px; color: #d9138a; background: #322e2f" href="/bio"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-biohazard"></i>
                Bio
            </a>

            <a style="width:120px;height:40px; color: #d9138a; background: #322e2f" href="/car"
                class="btn btn-light my-2 mx-5">
                <i class="fa-solid fa-car-rear"></i>Car
            </a>

            <a style="width:120px;height:40px; color: #d9138a; background: #322e2f" href="/js"
                class="btn btn-light my-2 mx-5">
                <i class="fa-brands fa-js"></i>
                Js
            </a>

            <a style="width:120px;height:40px; color: #d9138a; background: #322e2f" href="/mac"
                class="btn btn-light my-2 mx-5">
                <i class="fa-brands fa-apple"></i>
                Mac
            </a>

        </div>

    </div>

</main>