<main>

    {{!-- Це сторінка "Суміші для хліба" --}}



    <div class="m-3">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index-1">Головна</a></li>
                <li class="breadcrumb-item active" aria-current="page">Суміші для хліба</li>
            </ol>
        </nav>
    </div>



    <div class="row">
        <div class="col-3">

            <br><br><br><br><br><br>

            <div class="card mt-3 mx-3 p-3" style="background: rgb(248, 225, 180)">


                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202310/0094/img71o.jpg"
                                class="d-block w-100" alt="..."
                                style="border-radius: 20px; width: 280px; height: 280px">
                            <div class="m-3">
                                <ul>
                                    <li>Банановий хліб</li>
                                    <li>Кофейний пиріг</li>
                                    <li>Лимонний хліб</li>
                                </ul>
                            </div>
                            <div class="text-center m-2">
                                <a href="#" id="btns" class="btn btn-light">Замовити набір</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202304/0009/img13o.jpg"
                                class="d-block w-100" alt="..."
                                style="border-radius: 20px; width: 280px; height: 280px">
                            <div class="m-3">
                                <ul>
                                    <li>Французький хліб</li>
                                    <li>Часниковий хліб з пармезаном</li>
                                    <li>Форма для випікання із провощеного картону</li>
                                </ul>
                            </div>
                            <div class="text-center m-2">
                                <a href="#" id="btns" class="btn btn-light">Замовити набір</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202245/0255/img1o.jpg"
                                class="d-block w-100" alt="..."
                                style="border-radius: 20px; width: 280px; height: 280px">
                            <div class="m-3">
                                <ul>
                                    <li>Яблучний хліб</li>
                                    <li>Гарбузовий хліб</li>
                                </ul>
                            </div>
                            <div class="text-center m-2">
                                <a href="#" id="btns" class="btn btn-light">Замовити набір</a>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </div>



        <div class="col-9">

            <div class="display-2 text-center mt-4 mb-5">
                Суміші для хліба
            </div>



            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202308/0388/img47o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Кукурудзяний хліб

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-kuk" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>



            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202314/0313/img43o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Банановий хліб

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-ban" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>





            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202316/0076/img47o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Лимонний хліб

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-lem" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>




            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202316/0070/img39o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Кофейний пиріг

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-cof" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>




            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202314/0209/img52o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Французський хліб

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-fran" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>


            <div class="card m-4 p-3" style="background: rgb(248, 225, 180)">
                <div class="row">
                    <div class="col-5">
                        <img class="card-img-aside"
                            src="https://assets.wsimgs.com/wsimgs/rk/images/dp/wcm/202314/0392/img34o.jpg"
                            style="border-radius: 20px; width: 410px; height: 400px">
                    </div>

                    <div class="col-7">

                        <div class="display-3 m-3">
                            Часниковий хліб з пармезаном

                        </div>

                        <ul class="my-5">
                            <li>
                                Вага: 500гр.
                            </li>
                            <li>
                                Просто додайте молоко, масло, олію і яйце..
                            </li>
                            <li>
                                Ексклюзив Williams Sonoma..
                            </li>
                            <li>
                                Виготовлено в США з американських та імпортних інгредієнтів..
                            </li>
                        </ul>

                        <div class="display-6 m-2 text-center">
                            <p>
                                Ціна: 250грн.
                            </p>
                        </div>

                        <div class="text-center">
                            <a href="/index-1-1-parm" class="btn btn-light" id="btns">Детальніше</a>
                            <a href="#" class="btn btn-light" id="btns">Купити</a>
                        </div>


                    </div>
                </div>
            </div>




        </div>


    </div>












</main>

{{!-- https://assets.wsimgs.com/wsimgs/ab/images/dp/wcm/202314/0658/img86xl.jpg --}}