html {
  max-width: 1920px;
  background: rgb(247, 205, 121);
}

body {
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;
}

div.card {
  border-radius: 60px;
  background: rgb(248, 225, 180);
}

#btn {
  color: rgb(116, 83, 18);
  background: rgb(243, 191, 87);
  width: 150px;
  height: 60px;
}

#btns {
  color: rgb(116, 83, 18);
  background: rgb(250, 211, 134);
  width: 150px;
  height: 40px;
}

* {
  color: rgb(116, 83, 18);
}

#option {
  color: rgb(116, 83, 18);
  background: rgb(250, 211, 134);
  width: 80px;
  height: 50px;
}

#accordion {
  color: rgb(116, 83, 18);
  background: rgb(252, 240, 216);
}


