:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;

	--color-border: #dee2e6;

	--color-violet: #563D7C;
	--color-white: #ffffff;
	--color-title: #5A5A5A;
	--color-text: #212529;

	--border-radius: 12px;

	--width-title: 500;
	--weight-text: 400;
}

/* =========================================== */

.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: 930px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;

	
}

/* ============================================== */

.header {
	padding: var(--space-l);
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
  }

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-violet);

	width: 24px;
	height: 24px;

	border-radius: calc(var(--border-radius) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link {
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;

	line-height: 100%;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-violet);
}

.footer {
	padding: var(--space-l);

	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;

	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);

	display:block;
	margin-bottom: var(--space-l);

	font-weight: var(--width-title);
}

.button {
	display: flex;
	font-size: var(--size-d);
	text-decoration: none;
	padding: var(--space-m) var(--space-xm);
	border-radius: var(--border-radius);
}

.main {
	display: flex;
	align-items: center;
	gap: 80px;
}

.main_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}

.main_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.main_heading {
	font-size: var(--space-b);
	color: var(--color-title);
	font-weight: var(--width-title);
	line-height: 120%;
}

.main_description {
	color: var(--color-title);
	font-size: var(--size-l);
	font-weight: var(--weight-text);
	line-height: 170%;
}

.main_button {
	color: var(--color-white);
	background-color: var(--color-violet);
	max-width: 120px;
	border-radius: calc(var(--border-radius) / 2);
}

.main_button:hover {
	opacity: 0.7;
}

.featured {
	display: flex;
	padding: 0px;
	gap: 40px;
	border-bottom: 1px solid var(--color-border);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: start;
	gap: var(--space-l);
	padding-bottom: 40px;
}

.card_photo {
	width: 64px;
	height: 64px;
	border-radius: var(--space-m)
}

.card_heading {
	font-size: 32px;
	font-weight: var(--width-title);
	color: var(--color-text);
}

.card_info {
	font-weight: var(--weight-text);
	font-size: var(--size-d);
	color: var(--color-text);
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-violet);
	padding: var(--space-l);
	border-radius: calc(var(--border-radius) / 2);
}

.action_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	padding: 12px;
}

.action_heading {
	font-size: 24px;
	font-weight: var(--weight-text);
	color: var(--color-white);
	padding-bottom: 0;
}

.action_button {
	background-color: var(--color-white);
	width: 100%;
	max-width: 240px;
	font-size: var(--size-l);
	font-weight: var(--weight-text);
	color: var(--color-text);
	text-decoration: none;
	justify-content: center;
	border-radius: calc(var(--border-radius) / 2);
}