<div>
    <footer style="color:rgb(1, 1, 93)">
        <hr class="my-5">

        <div>
            {{#with social}}

            {{> link text=email.text href=email.href blank=true }}
            {{> link text=phone.text href=phone.href blank=true }}
            {{> link text=linkedin.text href=linkedin.href blank=true noLine=true }}


            {{/with}}
        </div>
        <br>
        <div>
            <em class="mx-3">Copyright by {{firstname}}
                {{lastname}}</em>
        </div>

        <br>

        <div class="mx-3">
            <address>
                {{address}}
            </address>
        </div>
    </footer>
</div>